Source: ros-melodic-livox-ros-driver
Section: misc
Priority: optional
Maintainer: Livox Dev Team <dev@livoxtech.com>
Build-Depends: debhelper (>= 9.0.0), git, libapr1-dev, libaprutil1-dev, ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-pcl-ros, ros-melodic-rosbag, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs, livox-sdk
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-livox-ros-driver
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, git, libapr1-dev, libaprutil1-dev, ros-melodic-message-runtime, ros-melodic-pcl-ros, ros-melodic-rosbag, ros-melodic-roscpp, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs, livox-sdk
Description: The ROS device driver for Livox 3D LiDARs and Livox Hub
